﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using Util = EmployeeSearchWeb.Util;

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Resources.Home.Strings._Title</title>

    <!-- meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="description" content="@Resources.Home.Strings._Description" />
    <meta name="author" content="@Resources.Home.Strings._Author" />
    <meta name="copyright" content="2018 Eric Wallin" />


    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!-- external javascript libraries -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- favicon -->
    <link rel="shortcut icon" href="./content/images/favicon.png" />

    <!-- stylesheets -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous" />
    <link rel="stylesheet" href="./content/css/normalize.css">
    <link rel="stylesheet" href="./content/css/skeleton.css">
    <link rel="stylesheet" href="./content/css/styles.css">

</head>
<body>
    <div id="app" class="twelve columns">
        <div id="search" class="row">
            <form v-on:submit.prevent="doSearch()">
                <div class="twelve columns" style="margin-bottom:0.5em;vertical-align:middle;line-height:3em;">
                    <div style="float:left;" v-if="getActiveView != 'employeesView'">
                        <button type="button" v-on:keypress.enter.prevent v-on:keyup.enter.prevent v-on:keydown.enter.prevent v-on:click.prevent="backToEmployees()" class="button-primary">Back to Employees</button>&nbsp;
                    </div>

                    <div style="float:right;vertical-align:middle;line-height:3em;">
                        <div class="searchBarItem">
                            <label class="searchType" for="employeeNumber">@Resources.Home.Strings.Search_ByEmployeeNumberOption</label>
                            <input type="radio" v-model="search.type" value="employeeNumber" name="EmployeeNumber" />
                        </div>

                        <div class="searchBarItem">
                            <label class="searchType" for="ssn">@Resources.Home.Strings.Search_BySSNOption</label>
                            <input type="radio" v-model="search.type" value="ssn" name="SSN" />
                        </div>

                        <div class="searchBarItem" id="searchBox" style="margin-right:0;position:relative;">
                            <input id="searchTerm" type="text" v-model="search.term" v-on:focus="suspendShortcutKeys = true;" v-on:blur="suspendShortcutKeys = false;" style="padding-left:0.5em;background-image: url('./content/images/magnifying-glass.gif');background-repeat: no-repeat;background-position: right;background-origin:content-box;padding-right:0.5em;" />
                            <label id="searchTermLabel" v-if="showSearchLabel" for="searchTerm" style="position:absolute;line-height:3em;padding:0;margin:0;vertical-align:middle;">@Util.GetJSEscapedResource("Search_SearchBoxCaption")</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <div id="employeesView" v-show="getActiveView == 'employeesView'">
                <div id="employeeList">
                    <table>
                        <tr>
                            <th v-for="header in list.headers">{{ header }}</th>
                        </tr>
                        <tr v-for="employee in list.employees">
                            <td><a href="#" v-on:click.prevent="showEmployeeDetails(employee.employeeNumber,$event)" v-bind:data-employeeNumber="employee.employeeNumber">{{ employee.fullName }}</a></td>
                            <td>{{ employee.ssn }}</td>
                            <td>{{ employee.employeeNumber }}</td>
                            <td>{{ employee.department }}</td>
                            <td>{{ employee.jobClassification }}</td>
                            <td>{{ employee.positionNumber }}</td>
                            <td>{{ employee.positionTitle }}</td>
                            <td>{{ employee.payrollGroup }}</td>
                            <td>{{ employee.status }}</td>
                        </tr>
                    </table>

                    <div id="pager">
                        <button v-on:click.prevent="updatePageNumber(-1);" v-bind:disabled="!showPageDown" v-bind:class="[showPageDown ? 'button-primary' : '']"><i class="fas fa-arrow-left"></i></button>
                        <input type="text" v-on:change="updatePageNumber(0);" v-model="pageNumberDisplay" v-on:focus="suspendShortcutKeys = true;" v-on:blur="suspendShortcutKeys = false;" style="width:5em;text-align:center;margin:0 0.5em 0 0.5em;" />
                        <button v-on:click.prevent="updatePageNumber(+1);" v-bind:disabled="!showPageUp" v-bind:class="[showPageUp ? 'button-primary' : '']"><i class="fas fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>

        </div>

        <div id="detailsView" v-show="getActiveView == 'detailsView'" class="twelve columns">
            <div class="row">
                @* Personal Information *@
                <div class="six columns">
                    <div class="row">
                        <div class="twelve columns">
                            <div style="padding:0;margin:0;width:100%;font-style:italic;font-size:larger;">@Resources.Home.Strings.Detail_ci</div>
                            <div style="padding:0;margin:0;width:100%;height:0.25em;line-height:0.25em;"><hr style="padding:0;margin:0;" /></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve columns detail">
                            <div class="row">
                                <div class="six columns">
                                    <div class="label">@Resources.Home.Strings.Detail_pi_FullName</div>
                                    <div class="value">{{ detail.pi_FullName }}&nbsp;</div>

                                    <div class="label">@Resources.Home.Strings.Detail_ci_HomeAddress</div>
                                    <div class="value">{{ detail.ci_HomeStreet1 }}&nbsp;</div>
                                    <div class="value">{{ detail.ci_HomeStreet2 }}&nbsp;</div>
                                    <div class="value">{{ detail.ci_HomeCity }},&nbsp;{{ detail.ci_HomeState }},&nbsp;{{ detail.ci_HomeZipCode }}</div>
                                    <div class="value">{{ detail.ci_HomeCountry }}</div>
                                </div>
                                <div class="six columns">

                                    <template v-if="(typeof detail.ci_HomePhoneLink != 'undefined') && (detail.ci_HomePhoneLink.length > 0)">
                                        <div class="label">@Resources.Home.Strings.Detail_ci_HomePhone</div>
                                        <div class="value"><a v-bind:href="detail.ci_HomePhoneLink">{{ detail.ci_HomePhoneDisplay }}</a></div>
                                    </template>
                                    <template v-else>
                                        <div class="label">@Resources.Home.Strings.Detail_ci_HomePhone</div>
                                        <div class="value">{{ detail.ci_HomePhoneDisplay }}&nbsp;</div>
                                    </template>

                                    <template v-if="(typeof detail.ci_CellPhoneLink != 'undefined') && (detail.ci_CellPhoneLink.length > 0)">
                                        <div class="label">@Resources.Home.Strings.Detail_ci_CellPhone</div>
                                        <div class="value"><a v-bind:href="detail.ci_CellPhoneLink">{{ detail.ci_CellPhoneDisplay }}</a></div>
                                    </template>
                                    <template v-else>
                                        <div class="label">@Resources.Home.Strings.Detail_ci_CellPhone</div>
                                        <div class="value">{{ detail.ci_CellPhoneDisplay }}&nbsp;</div>
                                    </template>

                                    <template v-if="(typeof detail.ci_WorkEmailLink !== 'undefined') && (detail.ci_WorkEmailLink.length > 0)">
                                        <div class="label">@Resources.Home.Strings.Detail_ci_WorkEmail</div>
                                        <div class="value" style="white-space:nowrap;overflow:hidden;"><a v-bind:href="detail.ci_WorkEmailLink">{{ detail.ci_WorkEmailDisplay }}</a></div>
                                    </template>
                                    <template v-else>
                                        <div class="label">@Resources.Home.Strings.Detail_ci_WorkEmail</div>
                                        <div class="value">{{ detail.ci_WorkEmailDisplay }}&nbsp;</div>
                                    </template>
                                </div>
                            </div>
                            <div class="row">
                                <div class="six columns">
                                    <div class="label">@Resources.Home.Strings.Detail_pi_Ssn</div>
                                    <div class="value">{{ detail.pi_Ssn }}&nbsp;</div>
                                </div>

                                <div class="six columns">
                                    <div class="label">@Resources.Home.Strings.Detail_pi_Birthday</div>
                                    <div class="value">{{ detail.pi_Birthday }}&nbsp;</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* Emergency Contact *@
                <div class="six columns">
                    <div class="row">
                        <div class="twelve columns">
                            <div style="padding:0;margin:0;width:100%;font-style:italic;font-size:larger;">@Resources.Home.Strings.Detail_ec</div>
                            <div style="padding:0;margin:0;width:100%;height:0.25em;line-height:0.25em;"><hr style="padding:0;margin:0;" /></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve columns detail">
                            <div class="row">
                                <div class="six columns">
                                    <div class="label">@Resources.Home.Strings.Detail_ec_FullName</div>
                                    <div class="value">{{ detail.ec_FullName }}&nbsp;</div>

                                    <div class="label">@Resources.Home.Strings.Detail_ec_Relationship</div>
                                    <div class="value">{{ detail.ec_Relationship }}&nbsp;</div>

                                    <div class="label">@Resources.Home.Strings.Detail_ec_Address</div>
                                    <div class="value">{{ detail.ec_Street1 }}&nbsp;</div>
                                    <div class="value">{{ detail.ec_Street2 }}&nbsp;</div>
                                    <div class="value">{{ detail.ec_City }},&nbsp;{{ detail.ec_HomeState }},&nbsp;{{ detail.ec_HomeZipCode }}</div>
                                    <div class="value">{{ detail.ec_Country }}</div>
                                </div>
                                <div class="six columns">

                                    <template v-if="(typeof detail.ec_HomePhoneLink != 'undefined') && (detail.ec_HomePhoneLink.length > 0)">
                                        <div class="label">@Resources.Home.Strings.Detail_ec_HomePhone</div>
                                        <div class="value"><a v-bind:href="detail.ec_HomePhoneLink">{{ detail.ec_HomePhoneDisplay }}</a>&nbsp;</div>
                                    </template>
                                    <template v-else>
                                        <div class="label">@Resources.Home.Strings.Detail_ec_HomePhone</div>
                                        <div class="value">{{ detail.ec_HomePhoneDisplay }}&nbsp;</div>
                                    </template>

                                    <template v-if="(typeof detail.ec_CellPhoneLink != 'undefined') && (detail.ec_CellPhoneLink.length > 0)">
                                        <div class="label">@Resources.Home.Strings.Detail_ec_CellPhone</div>
                                        <div class="value"><a v-bind:href="detail.ec_CellPhoneLink">{{ detail.ec_CellPhoneDisplay }}</a>&nbsp;</div>
                                    </template>
                                    <template v-else>
                                        <div class="label">@Resources.Home.Strings.Detail_ec_CellPhone</div>
                                        <div class="value">{{ detail.ec_CellPhoneDisplay }}&nbsp;</div>
                                    </template>

                                    <template v-if="(typeof detail.ec_WorkPhoneLink != 'undefined') && (detail.ec_WorkPhoneLink.length > 0)">
                                        <div class="label">@Resources.Home.Strings.Detail_ec_WorkPhone</div>
                                        <div class="value"><a v-bind:href="detail.ec_WorkPhoneLink">{{ detail.ec_WorkPhoneDisplay }}</a>&nbsp;</div>
                                    </template>
                                    <template v-else>
                                        <div class="label">@Resources.Home.Strings.Detail_ec_WorkPhone</div>
                                        <div class="value">{{ detail.ec_WorkPhoneDisplay }}&nbsp;</div>
                                    </template>

                                    <template v-if="(typeof detail.ec_HomeEmailLink != 'undefined') && (detail.ec_HomeEmailLink.length > 0)">
                                        <div class="label">@Resources.Home.Strings.Detail_ec_HomeEmail</div>
                                        <div class="value" style="white-space:nowrap;overflow:hidden;"><a v-bind:href="detail.ec_HomeEmailLink">{{ detail.ec_HomeEmailDisplay }}</a>&nbsp;</div>
                                    </template>
                                    <template v-else>
                                        <div class="label">@Resources.Home.Strings.Detail_ec_HomeEmail</div>
                                        <div class="value">&nbsp;</div>
                                    </template>

                                    <template v-if="(typeof detail.ec_WorkEmailLink != 'undefined') && (detail.ec_WorkEmailLink.length > 0)">
                                        <div class="label">@Resources.Home.Strings.Detail_ec_WorkEmail</div>
                                        <div class="value" style="white-space:nowrap;overflow:hidden;"><a v-bind:href="detail.ec_WorkEmailLink">{{ detail.ec_WorkEmailDisplay }}</a>&nbsp;</div>
                                    </template>
                                    <template v-else>
                                        <div class="label">@Resources.Home.Strings.Detail_ec_WorkEmail</div>
                                        <div class="value">&nbsp;</div>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                @* Employment Information *@
                <div class="four columns">
                    <div class="row">
                        <div class="twelve columns">
                            <div style="padding:0;margin:0;width:100%;font-style:italic;font-size:larger;">@Resources.Home.Strings.Detail_es</div>
                            <div style="padding:0;margin:0;width:100%;height:0.25em;line-height:0.25em;"><hr style="padding:0;margin:0;" /></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve columns detail">
                            <div class="label">@Resources.Home.Strings.Detail_es_EmployeeNumber</div>
                            <div class="value">{{ detail.es_EmployeeNumber }}&nbsp;</div>

                            <div class="label">@Resources.Home.Strings.Detail_es_EmploymentStatus</div>
                            <div class="value">{{ detail.es_EmploymentStatus }}&nbsp;</div>

                            <div class="label">@Resources.Home.Strings.Detail_es_HireDate</div>
                            <div class="value">{{ detail.es_HireDate }}&nbsp;</div>

                            <div class="label">@Resources.Home.Strings.Detail_es_TerminationDate</div>
                            <div class="value">{{ detail.es_TerminationDate }}&nbsp;</div>
                        </div>
                    </div>
                </div>
                @* Compensation *@
                <div class="four columns">
                    <div class="row">
                        <div class="twelve columns">
                            <div style="padding:0;margin:0;width:100%;font-style:italic;font-size:larger;">@Resources.Home.Strings.Detail_cm</div>
                            <div style="padding:0;margin:0;width:100%;height:0.25em;line-height:0.25em;"><hr style="padding:0;margin:0;" /></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve columns detail">
                            <div class="label">@Resources.Home.Strings.Detail_cm_PayEffectiveDate</div>
                            <div class="value">{{ detail.cm_PayEffectiveDate }}&nbsp;</div>

                            <div class="label">@Resources.Home.Strings.Detail_cm_PayTypeCode</div>
                            <div class="value">{{ detail.cm_PayTypeCode }}&nbsp;</div>

                            <div class="label">@Resources.Home.Strings.Detail_cm_PayDisplay</div>
                            <div class="value">{{ detail.cm_PayDisplay }}&nbsp;</div>

                            <div class="label">@Resources.Home.Strings.Detail_cm_PayFrequency</div>
                            <div class="value">{{ detail.cm_PayFrequency }}&nbsp;</div>

                            <div class="label">@Resources.Home.Strings.Detail_cm_PayrollGroup</div>
                            <div class="value">{{ detail.cm_PayrollGroupName }}&nbsp;</div>

                        </div>
                    </div>
                </div>
                @* Position Information *@
                <div class="four columns">
                    <div class="row">
                        <div class="twelve columns">
                            <div style="padding:0;margin:0;width:100%;font-style:italic;font-size:larger;">@Resources.Home.Strings.Detail_ps</div>
                            <div style="padding:0;margin:0;width:100%;height:0.25em;line-height:0.25em;"><hr style="padding:0;margin:0;" /></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve columns detail">
                            <div class="label">@Resources.Home.Strings.Detail_ps_PositionName</div>
                            <div class="value">{{ detail.ps_PositionName }}&nbsp;</div>

                            <div class="label">@Resources.Home.Strings.Detail_ps_PositionNumber</div>
                            <div class="value">{{ detail.ps_PositionNumber }}&nbsp;</div>

                            <div class="label">@Resources.Home.Strings.Detail_ps_JobClassificationNumber</div>
                            <div class="value">{{ detail.ps_JobClassificationNumber }}&nbsp;</div>

                            <div class="label">@Resources.Home.Strings.Detail_ps_JobClassificationTitle</div>
                            <div class="value">{{ detail.ps_JobClassificationTitle }}&nbsp;</div>

                            <div class="label">@Resources.Home.Strings.Detail_ps_JobClassificationDescription</div>
                            <div class="value">{{ detail.ps_JobClassificationDescription }}&nbsp;</div>

                            <div class="label">@Resources.Home.Strings.Detail_ps_ReportsTo</div>
                            <div class="value">{{ detail.ps_ReportsTo }}&nbsp;</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
			new Vue({
				el: "#app",
                data: {
                    activeView: 'employeesView',
                    suspendShortcutKeys: false,
                    search: {
                        term: '',
                        type: 'employeeNumber'
                    },
                    list: {
                        headers: [
							'@Html.Raw(Util.JSEscapeString(@Resources.Home.Strings.Employees_FullName))',
                            '@Html.Raw(Util.JSEscapeString(@Resources.Home.Strings.Employees_SSN))',
                            '@Html.Raw(Util.JSEscapeString(@Resources.Home.Strings.Employees_EmployeeNumber))',
                            '@Html.Raw(Util.JSEscapeString(@Resources.Home.Strings.Employees_Department))',
                            '@Html.Raw(Util.JSEscapeString(@Resources.Home.Strings.Employees_JobClassification))',
                            '@Html.Raw(Util.JSEscapeString(@Resources.Home.Strings.Employees_PositionNumber))',
                            '@Html.Raw(Util.JSEscapeString(@Resources.Home.Strings.Employees_PositionTitle))',
                            '@Html.Raw(Util.JSEscapeString(@Resources.Home.Strings.Employees_PayrollGroup))',
                            '@Html.Raw(Util.JSEscapeString(@Resources.Home.Strings.Employees_Status))'
						],
                        employees: [],
                        pager: {
                            itemsPerPage: @Model.itemsPerPage,
                            previousPage: -1,
                            currentPage: -1,
                            maxPage: Number.MAX_SAFE_INTEGER
                        }
                    },
                    detail: {},
                    pageNumberDisplay: "-1",

                },
                computed: {
                    showSearchLabel: function () {
                        return (this.search.term.length == 0);
                    },
                    showPageDown: function () {
                        return (this.list.pager.currentPage > 1);
                    },
                    showPageUp: function () {
                        return (this.list.pager.currentPage < this.list.pager.maxPage);
                    },
                    getActiveView: function () {
                        return (this.activeView);
                    }
                },
                methods: {
                    setEmployeesPage: function (page) {
						var result = false;
                        var employees = [];

                        axios
                            .get('/api/GetEmployees?page=' + page.toString() + '&itemsPerPage=' + this.list.pager.itemsPerPage.toString())
                            .then(response => {
										var result = false;

                                        //// if api call returned
                                        if (response.status == 200) {
                                            // and call ran successfully

                                            if (response.data.success) {
                                             // and there were results returned
                                                if (response.data.recordCount > 0) {
                                                    employees = response.data.data;
                                                } else {
                                                    if (list.pager.maxPage > page)
                                                    {
                                                        this.list.pager.maxPage = page;
                                                    }
                                                    employees = [];
                                                }

												// pad partial pages with objects with empty values
												while (employees.length < this.list.pager.itemsPerPage)
												{
													var employee = {};

 													employees.push(employee);
												}

												// if employees were returned from the web service display them, else reset the page to the previous page
												if (response.data.recordCount > 0) {
													this.list.pager.previousPage = page;
													this.list.pager.currentPage = page;

													this.list.employees = employees;

                                                    if (response.data.recordCount == this.list.pager.itemsPerPage)
                                                    {
														// this is a full page
                                                    } else {
														// partial or no data returned indicates this is last page of data.
														this.list.pager.maxPage = page;
													}
												} else {

													this.list.pager.currentPage = this.list.pager.previousPage;
												}

												this.pageNumberDisplay = this.list.pager.currentPage.toString();
												result = true;

                                            } else {
                                                alert("Error returned from api call: [" + response.data.message + "].");
												result = false;
                                            }
                                        } else {
                                            alert("Error while calling api.");
											result = false;
                                        }
                                    });
                        return result;
                    },
                    showEmployeeDetails: function (en, ev) {
                        this.search.type = "employeeNumber";
                        this.search.term = en;

                        this.doSearch();
                    },
                    doSearch: function () {

                        const axiosInstance = axios.create({
                            validateStatus: function (status) {
                                return status < 500;
                            }
                        });

                        switch (this.search.type) {
                            case "ssn":

                                axiosInstance
                                    .get('/api/GetEmployeeBySSN?ssn=' + this.search.term)
                                    .then(response => {
                                        var result = false;

                                        //// if api call returned
                                        switch (response.status) {

                                            case 200:
                                                // OK
                                                this.detail = response.data.data;
                                                this.activeView = 'detailsView';

                                                break;
                                            case 404:
                                                // NotFound
                                                alert("No record found for that SSN.");

                                                break;
                                            case 400:
                                                // BadRequest
                                                alert("The SSN entered is invalid, please correct the data and try again.");

                                                break;
                                            default:
                                                alert("Error returned from api call: [" + response.data.message + "].");

                                                break;
                                        }
                                    });

                                break;
                            case "employeeNumber":

                                axiosInstance
                                    .get('/api/GetEmployeeByEmployeeNumber?employeeNumber=' + this.search.term)
                                    .then(response => {
                                        var result = false;

                                        //// if api call returned
                                        switch (response.status) {

                                            case 200:
                                                // OK
                                                this.detail = response.data.data;
                                                this.activeView = 'detailsView';

                                                break;
                                            case 404:
                                                // NotFound
                                                alert("No record found for that Employee Number.");

                                                break;
                                            case 400:
                                                // BadRequest
                                                alert("The Employee Number entered is invalid, please correct the data and try again.");

                                                break;
                                            default:
                                                alert("Error returned from api call: [" + response.data.message + "].");

                                                break;
                                        }
                                    });

                                break;
                            default:

                        }
                    },
                    updatePageNumber: function (pageDelta) {
                        var parsedPageNumber = parseInt(this.pageNumberDisplay);

                        if (!isNaN(parsedPageNumber)) {
                            this.setEmployeesPage(parsedPageNumber + pageDelta);
                        } else {
                            this.pageNumber = this.list.pager.currentPage.toString();
                            this.pageNumberDisplay = this.pageNumber;
                        }
                    },
                    backToEmployees: function () {
                        this.activeView = 'employeesView';
                        this.search.term = '';
                        this.detail.firstName = '';
                        this.detail.middleName = '';
                        this.detail.lastName = '';
                    },
                    processShortcutKeys: function (event) {
                        if (!this.suspendShortcutKeys)
                        {
                            switch (this.activeView)
                            {
                                case 'employeesView':
                                    switch (event.which) {
                                        // left arrow
                                        case 37:
                                            if (this.showPageDown) {
                                                this.updatePageNumber(-1);
                                            }
                                            break;
                                        // right arrow
                                        case 39:
                                            if (this.showPageUp) {
                                                this.updatePageNumber(+1);
                                            }
                                            break;
                                        // up arrow
                                        case 38:
                                            this.setEmployeesPage(1);
                                            break;
                                        }
                                    break;
                            }
                        }
                    }
                },
                beforeMount: function() {
                    this.setEmployeesPage(1);
                },
                created: function () {
                    window.addEventListener('keyup', this.processShortcutKeys)
                }
			});
    </script>

</body>
</html>
