﻿html, body, input, table, th, tr, td, p {
    font-family: 'Open Sans', sans-serif;
}

body {
    min-width: 300px;
    padding: 0;
    margin: 1em;
    top: 0;
    left: 0;
}

div#search {
    height: 3em;
}

div.searchBarItem {
    float: left;
    display: block;
    vertical-align: middle;
    height: 3em;
    line-height: 3em;
    white-space: nowrap;
    margin-right: 2em;
}

label.searchType {
    display: inline-block;
    margin-right: 0.5em;
    white-space: nowrap;
}

#searchTermLabel {
    top: 0;
    bottom: 0;
    left: 0.5em;
    width: 50%;
    transition: 0.2s;
    color: #999999;
    font-size: medium;
}

#searchTerm {
    background-image: url('./content/images/magnifying-glass.gif');
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 0px;
}

div#results {
    padding: 0.5em;
}

/* table layout for alternating row colors */
table {
    border-collapse: collapse;
    width: 100%;
}

th, th:first-child {
    border: 1px solid #a9b186;
    background-color: #a7c941;
    color: #ffffff;
    text-align: left;
    padding: 8px;
}

td, td:first-child {
    border: 1px solid #a9b186;
    text-align: left;
    padding: 0.5em;
    height: 1.5em;
}

tr:nth-child(odd) {
    background-color: #ebf2d3;
}

div#detailsView .detail .row {
    display: flex;
    height:auto;
}
.detail {
    height: auto;
    background: #eeeeee;
    padding: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

    .detail .label {
        display: flex;
        font-family: 'Open Sans Bold', sans-serif;
        font-style: italic;
        font-size: small;
        margin-top: 0.75em;
        color: #666666;
    }

    .detail .value {
        display: flex;
        margin-left: 0.5em;
        font-size: larger;
        overflow: hidden;
    }

.pagerButtonDisabled {
    visibility:hidden;
}